version: '3.8'

services:
  pdf-generator:
    build: .
    ports:
      - "8020:8020"
    env_file:
      - .env
    volumes:
      - ./templates:/app/templates
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 8.8.4.4
    # Для решения проблемы с SMTP на Windows/WSL можно использовать extra_hosts
    # или настроить сеть Docker правильно

